@import "/src/styling/abstracts";


.article-card {
  height: rem(393px);
  width: 100%;
  background: no-repeat center center scroll;
  background-size: cover;
  transition: background-color .2s;
  font-family: 'Segoe UI';
  border: 0;
  margin:7.5px 0;
  //margin-bottom: rem(15px);
  &:hover{
    cursor:pointer;
  }
  @include media-breakpoint-up(sm){
    margin:0;
  }
  .card-title {
    margin-bottom: rem(17.5px);
  }

  .card-text {
    overflow: hidden;
    line-height: 1.4;
    flex-grow: 1;
  }

  .day {
    font-size: rem(60px);
  }

  .month {
    font-size: rem(30px);
    margin-bottom: rem(10px);
  }

  .year {
    font-size: rem(18px);
  }

  .day, .month, .year {
    line-height: 1;
  }

  .btn-action {
    background-color: #A7A9AC;
    border: 1px solid #fff;
    color: white;
    text-transform: capitalize;
  }

  .card-img-overlay {
    background-color: rgba(#000, .5);
    padding: rem(12px) rem(16px) rem(52px);
    transition: background-color .2s;

    &:hover {
      &, .btn-action {
        background-color: $secondary;
      }
    }
  }
}
