//fonts
$rem-baseline: 16px;
$font-size-base: rem($rem-baseline);

// colors
$primary: #008795;
$secondary: #8DC043;
//$success: $green;
//$info: $cyan;
//$warning: $yellow;
//$danger: $red;
$light: #D9D9D9;
$dark: #4A4A4A;


// header
$header-height: rem(153px);
$header-bg-color:#fff;
$nav-height:rem(56px);
$nav-bg-color: rgba(#F2F0F0,.95);

