//fonts
$rem-baseline: 16px;
$font-size-base: rem($rem-baseline);
$font-size-lg: $font-size-base * 1.125;
$font-size-sm: $font-size-base * .875;


// colors
$primary: #008795;
$light-primary: #61AEB9;
$secondary: #8DC043;
$light: #fff;
$dark: #4A4A4A;
$dark-light:#A9AAAE;
$light-dark:#D9D9D9;


// header
$header-height: rem(153px);
$header-bg-color: #fff;
$nav-height: rem(56px);
$nav-bg-color: rgba(#F2F0F0, .95);

/// Components
//
// Define common padding and border radius sizes and more.
$border-radius: 0;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
$border-width: 1px;
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: rem(15px - $border-width);
$input-btn-padding-x: rem(24px);
$input-btn-line-height: 1;
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: .1rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-line-height-lg: rem(14px);


// footer
$copyrights-height: rem(74px);

@import "~bootstrap/scss/variables";
