@import "/src/styling/abstracts/index";

#success-story {
  padding: rem(71px) 0 rem(30px);
}

.section-header {
  text-align: center;
  color: $primary;
  padding-bottom: rem(25px);

  .title {
    font-size: rem(36px);
    font-family: 'Optima';
  }

  .subtitle {
    font-size: rem(20px);
    font-family: 'Segoe UI';
  }
}
//@include media-breakpoint-up(md) {
//  @include success-card(.7,3)
//}
@include success-card(.8,1);
@include media-breakpoint-up(md) {
  @include success-card(.6,2);
}
@include media-breakpoint-up(lg) {
  @include success-card(.85,2);
}
@include media-breakpoint-up(xl) {
  @include success-card(1,2);
}
.success-card {
  background: no-repeat center center scroll;
  background-size: cover;
  border: 0;
  font-family: 'Segoe UI';
  max-width: 100%;

  .card-top-title, .card-bottom-title, .big-num {
    font-weight: 700;
  }

  .card-text {
    font-family: Calibri;
    margin-bottom: 0;
  }
}

.card-img-overlay {
  text-align: center;
  background-color: rgba(#000, .5);
  position: relative;
  width: 100%;
  height: 100%;

  .card-body {
    padding: 0;
  }

  .card-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 6px solid #fff;
    background-color: $primary;

    img {
      padding: 0 rem(10px);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

//.swiper-wrapper, .swiper-container {
//  width: 100%;
//}
