<section id="success-story">
  <div class="container-xl">
    <div class="section-header">
      <h2 class="title">How we have helped</h2>
      <h5 class="subtitle">See how Al Jalila Foundation have promoted change locally and to the world</h5>
    </div>
    <div class="section-body">
      <div class="row">
        <div #swiperContainer class="swiper-container">
          <div class="swiper-wrapper">
            <div *ngFor="let article of ['','','','','','','','','']" class="swiper-slide" style="width: 500px">
              <div class="card success-card bg-dark text-white"
                   style="background-image: url('../../../../../assets/images/home/success-story/Layer -10.png')">
                <div class="card-img-overlay d-flex flex-column">
                  <h3 class="card-top-title">TA’ALOUF PROGRAM</h3>
                  <div class="big-num">200</div>
                  <h3 class="card-bottom-title">GRADUATES TO DATE</h3>
                  <p class="card-text">Ta”alouf program aims to extend its reach across the Emirates addressing the
                    needs
                    of the country.</p>
                  <div class="card-icon">
                    <img src="../../../../../assets/images/home/programs/Layer%2058@1X.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
