<div class="container-xl">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <ul class="list-inline piped service-terms">
        <li class="list-inline-item">
          <a href="">Terms & Conditions</a>
        </li>
        <li class="list-inline-item">
          <a href="">Privacy Policy</a>
        </li>
        <li class="list-inline-item">
          <a href="">User Agreement</a>
        </li>
        <li class="list-inline-item">
          <a href="">Sitemap</a>
        </li>
      </ul>

      <p class="copyrights">
        Copyright 2020 LinkDev. All Rights Reserved.
      </p>
    </div>
  </div>
</div>
