html,
body {
  height: 100%;
}
body{
  //margin-top: $header-height;
  font-family: 'Optima';
}

// grid
//small gutter gap
.sm-gutters > .col, .sm-gutters > [class*=col-]{
  padding-left: 7.5px;
  padding-right: 7.5px;
}
