<div class="container-xl">
  <div class="row">
    <div class="col-6 d-flex">
      <div class="logo d-flex align-items-center">
        <img src="assets/images/linkdevlogo@1X.png" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="accessibility text-right">
        <ul class="list-inline text-uppercase piped text-primary authorization">
          <li class="list-inline-item">
            <a routerLink=".">register</a>
          </li>
          <li class="list-inline-item">
            <a routerLink=".">login</a>
          </li>
        </ul>

        <ul class="list-inline piped">
          <li class="list-inline-item languages">
            <button (click)="setAppLang('en')" class="btn" [class.selected]="appLang == 'en'">
              en
            </button>
            <button (click)="setAppLang('ar')" class="btn" [class.selected]="appLang == 'ar'">
              ar
            </button>
          </li>
          <li  class="list-inline-item font-sizing">
            <button (click)="setBaseFontSize(false)" class="btn font-large">
              a
            </button>
            <button (click)="setBaseFontSize(true)" class="btn font-normal">
              a
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
