@import "/src/styling/abstracts";

:host {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  height: $header-height;
  background-color: #fff;
  z-index: $zindex-fixed;
  transition: top .2s;
  &.scrolling-down{
    top: $header-height * -1;
  }
  .container-xl {
  }

  .container-xl, .row {
    height: 100%;
  }
}

.accessibility {
  margin-top: rem(29px);

  &, .languages button {
    font-size: rem(12px);
  }

  .font-sizing {
    .btn {
      color: $primary;
    }

    .font-large {
      font-size: rem(19px);
    }

    .font-normal {
      font-size: rem(13px);
      margin-top: rem(5.5px);
    }
  }

  .authorization {
    margin-bottom: rem(32px);
  }

  .btn {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    line-height: 1;
    border-radius: rem(12px);
    transition: background-color .2s, width .2s, padding .2s, height .2s;
    &:not(:last-child) {
      margin-right: rem(1.5px);
    }
    &.selected {
      width: rem(28px);
      height: rem(22px);
      @include button-variant($primary, $primary)
    }
  }
}
