<section id="our-programs" style="background-image: url('../../../../../assets/images/home/programs/Layer 61@1X.png')">
  <div class="container-xl">
    <div class="section-header text-center text-light">
      <h2 class="title">
        Today’s Investments, Tomorrow’s Cures
      </h2>
      <h5 class="subtitle">
        Support the different programs we have below
      </h5>
    </div>
    <div class="programs d-flex flex-column">
      <div class="row even justify-content-center">
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/Layer%2056@1X.png" alt="">
            <h5 class="program-name">Ta’alouf</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/Layer%2057@1X.png" alt="">
            <h5 class="program-name">A’awen</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="w-100 d-sm-none"></div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/Layer%2058@1X.png" alt="">
            <h5 class="program-name">Scholarships</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/Layer%2059@1X.png" alt="">
            <h5 class="program-name">Medical Research</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
      </div>
      <div class="row odd justify-content-center">
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/Layer%2023@1X.png" alt="">
            <h5 class="program-name">Zakat</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/flower20@1X.png" alt="">
            <h5 class="program-name">Fundraising</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
        <div class="w-100 d-sm-none"></div>
        <div class="program">
          <div class="wrapper">
            <img class="program-image" src="../../../../../assets/images/home/programs/flowers12@1X.png" alt="">
            <h5 class="program-name">Omniyat Dania</h5>
            <button class="btn text-light program-action">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
