<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/home/banner/Layer%2013@1X.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/home/banner/Layer%2014@1X.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
</ngb-carousel>


<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
<!--  <ol class="carousel-indicators">-->
<!--    <li data-aos="fade-right" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--    <li data-aos="fade-up" data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--    <li data-aos="fade-left" data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--  </ol>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-static-content">-->
<!--      <div class="container-lg">-->
<!--        <div class="row justify-content-sm-start">-->
<!--          <div class="col-11 col-sm-8 col-md-6 col-lg-6">-->
<!--            <div class="card quotes-card boxy fw-600 p-4" data-aos="fade-left">-->
<!--              <p><b>Educare International</b> is an Education consultancy firm-->
<!--                affiliated with high ranking universities the UK, USA, Canada, Australia,-->
<!--                Malaysia, Dubai and Europe. We are one of the leading education agencies in East-->
<!--                Africa through the provision of accurate and relevant information, trustworthy and-->
<!--                transparent dealings, responsible facilitation and coordination of students planning-->
<!--                to study abroad.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;    images &ndash;&gt;-->
<!--    <div class="carousel-item active"-->
<!--         style="background-image: url('{{ asset('imgs/landing/slider/1280 618 b.jpg')  }}')">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
